*,
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main > p {
  columns: 3;
}

footer {
  text-align: center;
}

@media screen and (max-width: 700px) {
  main > p {
    columns: 2;
  }
}

@media screen and (max-width: 500px) {
  main > p {
    columns: 1;
  }
}
